<div class="container">

    <div class="row">
      <div class="col-xs-12col-md-12" >
        <h1 align="center"> Hangman Game</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-md-2">
        <form #inputForm="ngForm" (ngSubmit)="onStart()">
          <div class="form-group">
            <label for="genre">Genre:</label>
            <select required [(ngModel)]="selectedGenre" name="genre">
              <option *ngFor="let genre of genres" [ngValue]="genre"> {{ genre.name }} </option>
            </select>
          </div>
          <div class="form-group">
            <label for="era">Era:</label>
            <select required [(ngModel)]="selectedEra" name="era">
              <option *ngFor="let era of eras" [ngValue]="era"> {{ era.name }} </option>
            </select>
          </div>
          <button class="btn btn-success"
            type="submit"
            [disabled]="!inputForm.valid"> 
              {{ displayGame == true ? 'Restart Game' : 'Start Game' }}
          </button>
        </form>
      </div>
      <div class="col-xs-10 col-md-10" *ngIf="displayGame" >
        <div class="col text-center">
          <img src="assets/img/{{ numberOfFaults }}.png" class="ahorcado-img">
          <h1> {{ hiddenMovieTitle }} </h1>
        </div>
        <div class="col text-center" *ngIf="!isLost && !isWon">
          <button class="btn btn-primary btn-lg"
            *ngFor="let letter of letters"
            (click)="onClickLetter(letter.value)"
            [disabled]="letter.disabled">
              {{ letter.value }}
          </button>
        </div>
        <div class="col text-center">
          <h1 *ngIf="isLost"> LOST </h1>
          <h1 *ngIf="isWon"> WON </h1>
        </div>
      </div>
    </div>
</div>
